@use '../../../styles/globals.scss' as *;

.btnsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: $sm) {
    flex-direction: row;
    align-items: center;
  }

  .btn {
    background: transparent;
    border: 0;
    padding: 5px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .runCodeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $secondary-blue-500;
    transition: background-color 0.4s;

    svg {
      margin-left: 4px;
    }

    &:hover {
      background-color: $btn-hover;
    }
  }
}

.button-docs {
  border: 0;
  background-image: url(../../../assets/document.png);
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
