.user-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 400px);
  gap: 20px;

  &__title {
    margin: 0;
    font-size: 20px;
  }

  &__buttons-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__button-navigate {
    background-color: #fff;
    width: auto;
    height: 45px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    transition: background-color 0.4s;
    color: black;

    &:hover {
      cursor: pointer;
      background-color: #ddd6d6;
    }
  }
}

.history-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
