$bgc-dark-blue: #021e40;
$blue-primary: #072f55;
$light-blue-200: #d4edff;
$secondary-blue-500: #44b7b7;
$link-hover-color: #ddd6d6;
$btn-hover: #009688;

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
