@use './globals.scss' as *;

.reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  background-color: $bgc-dark-blue;
  color: #fff;
}
