@use '../../styles/globals.scss' as *;

.playground {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }

  .urlUnput {
    height: fit-content;
    width: 435px;
    background-color: $blue-primary;

    input {
      color: rgba(255, 255, 255, 0.4);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 4px;
      font-size: 16px;
    }
  }

  .editorsWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
}
