@import '../../styles/globals.scss';

.welcome-page {
  position: relative;
  top: 100px;
  height: fit-content;
  background-color: $bgc-dark-blue;
  color: $light-blue-200;
  padding: 20px;
}

.section-welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  &__info-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 50px;
  }

  &__subtitle {
    font-size: 25px;
  }

  &__description {
    font-size: 20px;
  }

  &__logos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size: 60px;
  }

  &__navigate-buttons {
    display: flex;
    gap: 30px;
  }

  &__navigate-button {
    background-color: #fff;
    width: 150px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: $blue-primary;
    border-radius: 5px;
    transition: background-color 0.4s;

    &:hover {
      cursor: pointer;
      background-color: #ddd6d6;
    }
  }
}
