@use '../../styles/globals.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  min-height: 150px;
  height: fit-content;
  background-color: $bgc-dark-blue;
  padding: 20px;

  .authors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }

    .link {
      color: #fff;
      padding: 0 10px;
      text-decoration: none;
      letter-spacing: 1.1px;
      transition: color 0.4s;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .courseInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    border-top: 1px solid #fff;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .courseInfoYear {
      color: #fff;
    }
  }
}
